body {	
	background-image:url(../image/airplane.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn-primary{
    margin-right: 10px;
}
.container{
  margin: 20px 0;
  
}

.pleft {
	margin-left: 100px;
}

.pleft2 {
	margin-left: 97px;
}

.main {
	background-color: #F0F0F0;
	margin-top: 30px;

	height: auto;
	width: auto;
	border-radius: 25px;	
	
	display: inline-block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 960px;
    margin: auto;
}
hr {
	margin: 0;
}

.sub-main{
	border-radius: 25px;
}

.head-tab {
	height: 50px;
	width: auto;
	margin-bottom: 30px;
	background-color:#337ab7;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
}

.tim-chuyen-bay-tab {
	display: block;
	height: 50px;
	width: auto;
	line-height: 50px;
	font-weight: bold;
	font-family:Arial, Verdana, sans-serif;
}
.center-tab {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-family: Arial, Verdana, sans-serif;
}

.mua-ve {
	float: left;
	display: block;
	height: 50px;
	width: auto;
	line-height: 50px;
}

.tab {
	padding-left: 60px;
	background-image: url(../image/plane-icon1.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 5px center ;
	height: 50px;
	width: 200px;
	float: left;
	color:#FFF;
	font-size: 17px;
	background-color: #03C;
	font-family:Arial, Verdana, sans-serif;
}

.tab-chosen {
	padding-left: 60px;
	background-image: url(../image/plane-icon1.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 5px center ;
	height: 50px;
	width: 200px;
	margin-right: 2px;
	float: left;
	font-size: 17px;
	background-color:#FFF;	
	font-family:Arial, Verdana, sans-serif;
}

.tab2 {
	padding-left: 60px;
	height: 50px;
	width: 258px;
	float: left;
	background-color:#FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
}

.tab2-chosen {
	padding-left: 60px;
	height: 50px;
	width: 258px;
	float: left;
	background-color: #6CF;
	border-style: solid;
	border-width: 1px;
	border-color: #FC3;
}

.color1 {
	background-color: #FC3;
	border-color: #FC3;
}

.color2 {
	background-color: #6CF;
	border-color: #6CF;
}

.color3 {
	background-color: #3F0;
	border-color: #6CF;
}

.tab3 {
	padding-left: 20px;
	height: 50px;
	width: 200px;
	float: left;	
	font-size: 17px;
	background-color:#FFF;
	font-family:Arial, Verdana, sans-serif;
}

.tab3-chosen {
	padding-left: 20px;
	height: 50px;
	width: 200px;
	float: left;
	border-width: 1px;
	border-bottom-color: ##F0F0F0;
	background-color:#F0F0F0;	
	font-family:Arial, Verdana, sans-serif;
}

.mot-chieu {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	height: 30px;
	width: 100px;
	float: left;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	border-radius: 30px;
}

.khu-hoi {
	margin-top: 10px;
	margin-right: 20px;
	height: 30px;
	width: 100px;
	float: left;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
}

.nhieu-chang {
	margin-top: 10px;
	margin-right: 20px;
	height: 30px;
	width: 120px;
	float: left;
	border-radius: 30px;
	text-align: center;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
}

.input-from {
	float: left;
	padding-left: 5px;
	margin-top: 10px;
	margin-right: 20px;
	height: 40px;
	width: 207px;
	border-radius: 5px;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}

.daytime {
	background-image: url(../image/icon-calendar.svg);
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: 180px center ;
	padding-left: 5px;
	margin-top: 10px;
	margin-right: 20px;
	float: left;
	height: 38px;
	width: 200px;
	border-radius: 5px;
	line-height: 40px;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}

.number {
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 20px;
	float: left;
	height: 30px;
	width: 60px;
	border-radius: 5px;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}

.input-normal {
	float: left;
	padding-left: 5px;
	margin-top: 10px;
	margin-right: 20px;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	line-height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
}

.input-gioi-tinh {
	width: 80px;
}

.input-dia-chi {
	width: 400px;
}

.input-thoi-gian {
	width: 100px;
}

.tab-1 {
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	width: 100%;
}

.text {
	float: left;
	width: 90px;
	margin-left: 20px;
	margin-right: 10px;
	line-height: 30px;
}

.btn-tim-kiem {
	background-color:#FFF;
	float: right;
	padding-left: 5px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-right: 80px;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	line-height: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #F90;
	color:#F90;
	font-size:16px;

}

.btn-tim-kiem:hover
{
	background-image:none;
	background-color:#F90;
	color: #FFF;
}

.clear {
	clear:both;
}

.number1 {
	background-image: url(../image/number1.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 5px center ;
}

.number2 {
	background-image: url(../image/number2.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 5px center ;
}

.number3 {
	background-image: url(../image/number3.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 5px center ;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

th {
background-color: #337ab7;
}

table {
	margin-left:70px;
	
}

.selected {
  background-color: red;
}

.rowtb:hover{
	background-color: #6FF;
}

