<div>
	<div class="main" ng-controller="chonChuyenBayCtrl">
        <div class="sub-main" style="background-color:#F3F3F3; font-family:Arial, Verdana, sans-serif;">
            <div class="head-tab">
                   <!-- <a class="mua-ve">      -->
                        <div class="tab-chosen" ng-click="muaVeTrucTuyen()">Mua vé trực tuyến</div>
                    <!-- </a> -->
                    
                    <!-- <a class="mua-ve"> -->
                        <div class="tab" ng-click="thongTinChuyenBay()">Thông tin chuyến bay</div>
                    <!-- </a> -->
            </div>
              
            <div class="tim-chuyen-bay-tab">
                <div class="tab2 number1"> Tìm chuyến bay</div>
                <div class="tab2-chosen number2 color2"> Lựa chọn chuyến bay</div>
                <div class="tab2 number3"> Thông tin hành khách</div>
            </div>
            <hr>
        </div>
      
        <div class="center-tab" style="font-family:Arial, Verdana, sans-serif;">

        <h3> Chuyến bay đi </h3>
            
            <table >
            	<col width="150">
  				<col width="150">
                <col width="250">
  				<col width="150">
  				<col width="80">
                <tr>              
                    <th>Mã chuyến bay</th>
                    <th>Ngày đi</th>
                    <th>Giờ xuất hành</th>
                    <th>Hạng</th>
                    <th>Giá vé</th>
                    <th>Chọn</th>
                </tr>
                <tr class="rowtb" ng-repeat="flight in flights" ng-click="setSelected(flight)" ng-class="{selected: flight._hang === idSelectedHang}">                      
                    <td>
                    	<label for="MyField">{{flight._ma}}</label>       
                    </td>
                    <td>
                        <label for="MyField">{{flight._ngayDi}}</label>       
                    </td>
                    <td>
                    	<label for="MyField">{{flight._gioDi}}</label>
                    </td>
                    <td>
                    	<label for="MyField">{{flight._hang}}</label>
                    </td>
                    <td>
                    	<label for="MyField">{{flight._giaVe}}</label>
                    </td>
                    <td>
                        <input type="radio" name="chuyenBay" ng-model="flight.selected" ng-value="flight";
                      style="width: 50px" ng-checked="checked"/>
                    </td>
                </tr>
            </table>

            <hr/>
            <div ng-show="khuHoi">
            <h3> Chuyến bay về </h3>
                <table >
                    <col width="150">
                    <col width="150">
                    <col width="250">
                    <col width="150">
                    <col width="80">
                    <tr>              
                        <th>Mã chuyến bay</th>
                        <th>Ngày đi</th>
                        <th>Giờ xuất hành</th>
                        <th>Hạng</th>
                        <th>Giá vé</th>
                        <th>Chọn</th>
                    </tr>
                    <tr class="rowtb" ng-repeat="flight in backFlights" ng-click="setSelected(flight)" ng-class="{selected: flight._hang === idSelectedHang}">                      
                        <td>
                            <label for="MyField">{{flight._ma}}</label>       
                        </td>
                        <td>
                            <label for="MyField">{{flight._ngayDi}}</label>
                        </td>
                        <td>
                            <label for="MyField">{{flight._gioDi}}</label>
                        </td>
                        <td>
                            <label for="MyField">{{flight._hang}}</label>
                        </td>
                        <td>
                            <label for="MyField">{{flight._giaVe}}</label>
                        </td>
                        <td>
                            <input type="radio" name="chuyenBay" ng-model="flight.selected" ng-value="flight";
                          style="width: 50px" ng-checked="checked"/>
                        </td>
                    </tr>
                </table>
            </div>
            

            <div class="tab-1">
            <button type="button" class="btn-tim-kiem" ng-click="chonChuyenBay()">Tiếp tục</button>
        	</div>                            
        </div>	          
    </div>
</div>

