<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flight Management</title>
<link href="MyScript/MyCss.css" rel="stylesheet" type="text/css" />
<script src="MyScript/angular.min.js"></script>
<script src="MyScript/angular.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
</head>

<body>
<div ng-app="myApp">
	<div class="main" ng-controller="myCtrl">
    	<div style="background-color:#F3F3F3">
            <div class="head-tab">
                    <a class="mua-ve">
                        <div class="tab-chosen">Mua vé trực tuyến</div>
                    </a>
                    
                    <a class="mua-ve" href="thong-tin-chuyen-bay-1.html">
                        <div class="tab">Thông tin chuyến bay</div>
                    </a>
            </div>
                  
            <div class="tim-chuyen-bay-tab">
                <div class="tab2-chosen number1"> Tìm chuyến bay</div>
                <div class="tab2 number2"> Lựa chọn chuyến bay</div>
                <div class="tab2 number3"> Thông tin hành khách</div>
            </div>
         	<hr>
        </div>
        
        <div class="center-tab" >
            <div class="tab-1"  ng-init="chieu1()">                         
            	<div  class="mot-chieu" ng-style="style1" ng-click="chieu1()"> Một chiều </div> 
            	<div  class="mot-chieu" ng-style="style2" ng-click="chieu2()"> Khứ hồi </div>   
            </div>
                    
            <div class="tab-1">
            	<p class="text"> Khởi hành: </p>
                <input class="input-from" placeholder="Từ" />
                <p class="text"> Kết thúc: </p>
                <input class="input-from" placeholder="Đến" /> 	
            </div>
            
            <div class="tab-1">
            	<p class="text"> Ngày đi: </p>
                <input type="text" class="daytime" id="from" name="from" placeholder="dd/mm/yyyy"/>
                <p class="text" ng-show="show"> Ngày về: </p>
                <input type="text" ng-show="show" class="daytime" id="to" name="to" placeholder="dd/mm/yyyy"/>
            </div>
            
            <div class="tab-1">
            
            	<p class="text"> Người lớn: </p>
                <select class="input-normal input-gioi-tinh" ng-init="selectedNumber1 = number_value1[0]" ng-model="selectedNumber1" ng-options="item1 for item1 in number_value1" ng-change="checkNumber1(selectedNumber1)">
            	</select>        
                
                <p class="text" style="width: 140px;"> Trẻ em (dưới 2 tuổi): </p>
                <select class="input-normal input-gioi-tinh" ng-init="selectedNumber2 = number_value2[0]" ng-model="selectedNumber2" ng-options="item2 for item2 in number_value2" ng-change="checkNumber2(selectedNumber2)">
            	</select>
                
                <p class="text" style="width: 150px;"> Trẻ em (2 đến 12 tuổi): </p>
                <select class="input-normal input-gioi-tinh" ng-init="selectedNumber3 = number_value3[0]" ng-model="selectedNumber3" ng-options="item3 for item3 in number_value3" >
            	</select>	

            </div>
            
            <div class="tab-1">
            	<a href="chon-chuyen-bay.html">
            		<button type="button" class="btn-tim-kiem">Tìm chuyến bay</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
