
<div>
	<div class="main" >
		<div style="background-color:#F3F3F3">
            <div class="head-tab">
                    <a class="mua-ve" href="index.html">
                        <div class="tab-chosen">Mua vé trực tuyến</div>
                    </a>
                    
                    <a class="mua-ve" href="thong-tin-chuyen-bay-1.html">
                        <div class="tab">Thông tin chuyến bay</div>
                    </a>
            </div>
                  
            <div class="tim-chuyen-bay-tab">
                <div class="tab2 number1"> Tìm chuyến bay</div>
                <div class="tab2 number2"> Lựa chọn chuyến bay</div>
                <div class="tab2-chosen number3 color3"> Thông tin hành khách</div>
            </div>
         	<hr>
        </div>
        
        <div class="center-tab">     
            <div class="tab-1">
            	<p class="text"> Danh xưng: </p>
                <select class="input-normal input-gioi-tinh" ng-model="khachHang.danhXung" ng-options="item for item in danh_xung" ng-change="checkNumber1(khachHang.danhXung)">
            	</select>  
                
            	<p class="text clear"> Họ: </p>
                <input ng-model="khachHang.ho" class="input-normal" placeholder="Last Name"/>
                
                <p class="text"> Tên: </p>
                <input ng-model="khachHang.ten" class="input-normal" placeholder="First Name"/>
                
                <p class="text clear"> Số điện thoại: </p>
                <input ng-model="khachHang.dienThoai" class="input-normal" placeholder="Phone number" />              
                
                <p class="text"> Quốc gia: </p>
                <input ng-model="khachHang.quocTich" class="input-normal" placeholder="Nation"/> 
                  
            </div>

            <div class="tab-1">
            	<button type="button" class="btn-tim-kiem" ng-click="hoanTatDatCho()">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>
