

<div>
	<div class="main">
    	<div style="background-color:#FFF">
            <div class="head-tab">
                <!-- <a class="mua-ve" href="index.html"> -->
                    <div class="tab" ng-click="muaVeTrucTuyen()">Mua vé trực tuyến</div>
                <!-- </a> -->
                
                <!-- <a class="mua-ve" href="thong-tin-chuyen-bay-1.html"> -->
                    <div class="tab-chosen" ng-click="thongTinChuyenBay()">Thông tin chuyến bay</div>
                <!-- </a> -->
            </div>
        
            <div class="tim-chuyen-bay-tab">
            	<a class="mua-ve">
                    <!-- <a class="mua-ve" href="thong-tin-chuyen-bay-1.html"> -->
                        <div class="tab3" ng-click="thongTinChuyenBay()">Tìm theo lịch bay</div>
                    <!-- </a> -->
                    
                    <!-- <a class="mua-ve"> -->
                        <div class="tab3-chosen" ng-click="thongTinChuyenBay2()">Tìm theo sân bay</div>
                    <!-- </a> -->
                    
                    <!-- <a class="mua-ve" href="thong-tin-chuyen-bay-3.html"> -->
                        <div class="tab3" ng-click="thongTinChuyenBay3()">Tìm theo mã chuyến bay</div>
                    <!-- </a>     -->
            	</a>
        	</div>	
        </div>
        
        <div class="center-tab">
            
            <div class="tab-1">
            	<p class="text"> Khởi hành: </p>
                <select class="input-from" ng-model="selectedNoidi" ng-init="laySanBayDi()"  ng-options="item[0]._ma as item[0]._diaDanh for item in sanBayDi " ng-change="chonNoiDi(selectedNoidi)">
            	</select> 
                
                <p class="text clear"> Kết thúc: </p>
                <select class="input-from" ng-model="selectedNoiden" ng-options="item[0]._ma as item[0]._diaDanh for item in sanBayDen " ng-change=""> 
                </select>
            </div>
                  
            <div class="tab-1 clear">
            		<button type="button" ng-model="btnTimCB2" class="btn-tim-kiem" ng-click="timChuyenBay()">Tìm chuyến bay</button>
            </div>
        </div>
    </div>
</div>
