
<script>
  $( function() {
    var dateFormat = 'dd-mm-yy',
      from1 = $( "#from1" )
        .datepicker({
          defaultDate: "",
          changeMonth: true,
          numberOfMonths: 2,
		  minDate: 0,
          dateFormat: dateFormat
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "",
        changeMonth: true,
        numberOfMonths: 2,
        dateFormat: dateFormat
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>



<div>
	<div class="main">
    	<div style="background-color:#FFF">
        
            <div class="head-tab">
                <a class="mua-ve">
                    <div class="tab" ng-click="muaVeTrucTuyen()">Mua vé trực tuyến</div>
                </a>
                
                <a class="mua-ve">
                    <div class="tab-chosen" ng-click="thongTinChuyenBay()">Thông tin chuyến bay</div>
                </a>
            </div>
        
            <div class="tim-chuyen-bay-tab">
            	<a class="mua-ve">               
                    <!-- <a class="mua-ve"> -->
                        <div class="tab3-chosen" ng-click="thongTinChuyenBay()">Tìm theo lịch bay</div>
                    <!-- </a> -->
                    
                    <!-- <a class="mua-ve" href="thong-tin-chuyen-bay-2.html"> -->
                        <div class="tab3" ng-click="thongTinChuyenBay2()">Tìm theo sân bay</div>
                    <!-- </a> -->
                    
                    <!-- <a class="mua-ve" href="thong-tin-chuyen-bay-3.html"> -->
                        <div class="tab3" ng-click="thongTinChuyenBay3()">Tìm theo mã chuyến bay</div>
                    <!-- </a>      -->
                </a>
        	</div>
        </div>
        
        <div class="center-tab">
            
            <div class="tab-1">
                <p class="text"> Khởi hành: </p>
                <select class="input-from" ng-model="selectedNoidi" ng-init="laySanBayDi()"  ng-options="item[0]._ma as item[0]._diaDanh for item in sanBayDi " ng-change="chonNoiDi(selectedNoidi)">
            	</select> 
                
                <p class="text clear"> Kết thúc: </p>
                <select class="input-from" ng-model="selectedNoiden" ng-options="item[0]._ma as item[0]._diaDanh for item in sanBayDen " ng-change=""> 
                </select>
                
                <p class="text clear"> Ngày đi: </p>
                <input type="text" class="daytime" ng-model="selectedNgaydi" id="from1" name="from1" placeholder="dd/mm/yyyy"/>
            </div>
                  
            <div class="tab-1 clear">
            		<button type="button" ng-model="btnTimCB1" class="btn-tim-kiem" ng-click="timChuyenBay()">Tìm chuyến bay</button>
            </div>
        </div>
    </div>
</div>

