
<div>
	<div class="main" ng-controller="chonChuyenBayCtrl">
    <div style="background-color:#FFF">
        <div class="head-tab">
        	<a class="mua-ve">
            	<div class="tab" ng-click="themChuyenBay()">Thêm chuyến bay</div>
            </a> 
            <a class="mua-ve" >
            	<div class="tab" ng-click="chinhSuaChuyenBay()">Chỉnh sửa chuyến bay</div>
            </a> 
            <a class="mua-ve" >
            	<div class="tab-chosen">Tình trạng đặt vé</div>
            </a>
        </div>
        <hr>
    </div>
         

      
        <div class="center-tab" style="font-family:Arial, Verdana, sans-serif;">

        	<h3 class="pleft3"> Tình trạng đặt vé </h3>
            
            <table >
            	<col width="120">
  				<col width="150">
                <col width="150">
                <col width="150">
                <col width="120">
  				<col width="120">
                <tr>              
                    <th>Mã CB</th>
                    <th>Ngày đi</th>
                    <th>Hạng</th>
                    <th>Giá vé</th>
                    <th>Số ghế</th>
                    <th>Số ghế đã đặt</th>
                </tr>
                <tr class="rowtb" ng-repeat="flight in flights"  ng-class="{selected: flight._hang === idSelectedHang}">                      
                    <td>
                    	<label for="MyField">AB236</label>       
                    </td>
                    <td>
                        <label for="MyField">10-10-2016</label>       
                    </td>
                    <td>
                    	<label for="MyField">E1</label>
                    </td>
                    <td>
                    	<label for="MyField">2000000</label>
                    </td>
                    <td>
                    	<label for="MyField">100</label>
                    </td>
                    <td>
                    	<label for="MyField">25</label>
                    </td>
                </tr>
            </table>
            
            </div>                                 
        </div>	          
    </div>
</div>
