

<div>
	<div class="main-2" ng-controller="chonChuyenBayCtrl">
        <div style="background-color:#FFF">
            <div class="head-tab">
                <a class="mua-ve">
                    <div class="tab-chosen">Đăng nhập</div>
                </a> 
            </div>
            <hr>
        </div>
         

      
        <div class="center-tab" style="font-family:Arial, Verdana, sans-serif;">
			<div class="tab-1 pleft">
             	<p class="text" style="width:120px;"> Username: </p>
                <input class="input-normal" placeholder="Username" ng-model="maChuyenBay"/>
                <p class="text clear" style="width:120px;"> Password: </p>
                <input type="password" class="input-normal" placeholder="Password" ng-model="maChuyenBay"/>
            </div>
            
            <div class="tab-1">
            	<button type="button" class="btn-tim-kiem" ng-click="chonChuyenBay()">Đăng nhập</button>
        	</div>   
        </div>                                                 
    </div>
</div>
