

<div>
	<div class="main" ng-controller="chonChuyenBayCtrl">
    <div style="background-color:#FFF">
        <div class="head-tab">
        	<a class="mua-ve" >
            	<div class="tab" ng-click="themChuyenBay()">Thêm chuyến bay</div>
            </a> 
            <a class="mua-ve" >
            	<div class="tab-chosen">Chỉnh sửa chuyến bay</div>
            </a>
            <a class="mua-ve" >
            	<div class="tab" ng-click="xemTinhTrangDatVe()">Tình trạng đặt vé</div>
            </a>
        </div>
        <hr>
    </div>
         

      
        <div class="center-tab" style="font-family:Arial, Verdana, sans-serif;">

        	<h3 class="pleft3"> Danh sách chuyến bay </h3>
            
            <table >
            	<col width="80">
  				<col width="100">
                <col width="100">
                <col width="120">
                <col width="80">
  				<col width="50">
  				<col width="100">
                <col width="80">
                <col width="80">
                <tr>              
                    <th>Mã CB</th>
                    <th>Nơi đi</th>
                    <th>Nơi đến</th>
                    <th>Ngày đi</th>
                    <th>Giờ</th>
                    <th>Hạng</th>
                    <th>Giá vé</th>
                    <th>Số ghế</th>
                </tr>
                <tr class="rowtb" ng-repeat="flight in flights"  ng-class="{selected: flight._hang === idSelectedHang}">                      
                    <td>
                    	<label for="MyField">{{flight._ma}}</label>       
                    </td>
                    <td>
                        <label for="MyField">{{flight._noiDi}}</label>       
                    </td>
                    <td>
                        <label for="MyField">{{flight._noiDen}}</label>       
                    </td>
                    <td>
                        <label for="MyField">{{flight._ngayDi}}</label>       
                    </td>
                    <td>
                    	<label for="MyField">{{flight._gioDi}}</label>
                    </td>
                    <td>
                    	<label for="MyField">{{flight._hang}}</label>
                    </td>
                    <td>
                    	<label for="MyField">{{flight._giaVe}}</label>
                    </td>
                    <td>
                    	<label for="MyField">{{flight._soGhe}}</label>
                    </td>
                    <td>
                         <button type="button" name="chuyenBayE" ng-model="flight.selectedE" ng-value="flight" ng-click="Edit(flight)"
                      style="width: 50px" ng-checked="checked"> Edit </button>
                      <button type="button" name="chuyenBayD" ng-model="flight.selectedE" ng-value="flight" ng-click="Delete(flight)"
                      style="width: 50px" ng-checked="checked"> Delete </button>
                    </td>
                </tr>
            </table>
            
            </div>         

            <div class="tab-1">
            
        	</div>                            
        </div>	          
    </div>
</div>
